#Final Process

Client will give a file with 'n' no.of.input variables along with values we have to use the ML model. We built and have to predict the output for entire data and convert it to '.csv file' and dw it.

#Upload the downloaded model

In [1]:
import pickle

In [2]:
with open('/content/Hiring_Final_model','rb') as f:
  reg=pickle.load(f)

#Upload the client file and read the file using pandas

In [3]:
import pandas as pd

df=pd.read_csv('/content/hiring_test.csv')
df

  experience  test_score  interview_score
0       five         5.0                6
1        two         7.0                5
2      seven         9.0                9
3        NaN         6.0                9
4      three         6.0                8
5        ten        10.0               10
6        NaN         NaN                7
7     eleven         9.0                8

In [4]:
import math
test_scoremedian = math.floor(df['test_score'].median())
test_scoremedian

7

In [5]:
df['test_score'] = df['test_score'].fillna(test_scoremedian)
df

  experience  test_score  interview_score
0       five         5.0                6
1        two         7.0                5
2      seven         9.0                9
3        NaN         6.0                9
4      three         6.0                8
5        ten        10.0               10
6        NaN         7.0                7
7     eleven         9.0                8

In [6]:
df['experience'] = df['experience'].fillna('zero')
df

  experience  test_score  interview_score
0       five         5.0                6
1        two         7.0                5
2      seven         9.0                9
3       zero         6.0                9
4      three         6.0                8
5        ten        10.0               10
6       zero         7.0                7
7     eleven         9.0                8

In [7]:
!pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=0c0dacb838b5b3d2e9e116e8c0d3a34e910821dd1785bea9438c8943eb4ebc1b
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [8]:
from word2number import w2n

In [9]:
df['experience'] = df['experience'].apply(lambda x:w2n.word_to_num(x))
df

   experience  test_score  interview_score
0           5         5.0                6
1           2         7.0                5
2           7         9.0                9
3           0         6.0                9
4           3         6.0                8
5          10        10.0               10
6           0         7.0                7
7          11         9.0                8

In [10]:
predictdf=reg.predict(df)
predictdf

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- experience
Feature names seen at fit time, yet now missing:
- Experience

  warnings.warn(message, FutureWarning)

array([ 56599.49772211,  31709.52563797,  81120.17725013,  25957.62808605,
        46586.91794398, 107167.06758958,  21311.3064414 , 109464.55723789])

In [11]:
df['salary'] = predictdf
df

   experience  test_score  interview_score         salary
0           5         5.0                6   56599.497722
1           2         7.0                5   31709.525638
2           7         9.0                9   81120.177250
3           0         6.0                9   25957.628086
4           3         6.0                8   46586.917944
5          10        10.0               10  107167.067590
6           0         7.0                7   21311.306441
7          11         9.0                8  109464.557238

#Downloading the output file

In [12]:
df.to_csv('Final_Project_3_Output.csv',index=False)